In [1]:
 import sys

In [2]:
import sklearn.neighbors._base
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base

In [3]:
import pandas as pd
import numpy as np
import warnings

from missingpy import MissForest
from sklearn.metrics import f1_score, recall_score, precision_score
from lightgbm import LGBMClassifier, Dataset
import optuna
from optuna.samplers import TPESampler
from sklearn.neighbors import KNeighborsClassifier

In [4]:
import os
import sys
import platform
import random
import math
from typing import List ,Dict, Tuple

import pandas as pd
import numpy as np
import optuna 
from sklearn.model_selection import StratifiedKFold , KFold
import sklearn 
from sklearn.model_selection import StratifiedKFold , KFold
from sklearn.metrics import f1_score 
from sklearn.model_selection import train_test_split

from catboost import Pool,CatBoostClassifier
warnings.filterwarnings(action='ignore')

In [51]:
data = pd.read_csv("C:/Users/user/Desktop/최적입지_변수_총합_가중치(상관)_최종.csv")

In [52]:
data

,id,bus,metro,park,high,uni,age,pop,mart,Class
0,28208,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0
1,28207,0.000000,0.0,0.0,0.0,0.0,0.008674,-0.002736,0.0,0
2,28055,0.000000,0.0,0.0,0.0,0.0,0.008674,-0.002736,0.0,0
3,28054,0.062653,0.0,0.0,0.0,0.0,0.008674,-0.002736,0.0,0
4,28053,0.125306,0.0,0.0,0.0,0.0,0.008674,-0.002736,0.0,1
...,...,...,...,...,...,...,...,...,...,...
15672,233,0.125306,0.0,0.0,0.0,0.0,0.026023,-0.003648,0.0,0
15673,232,0.125306,0.0,0.0,0.0,0.0,0.026023,-0.003648,0.0,0
15674,82,0.031326,0.0,0.0,0.0,0.0,0.026023,-0.003648,0.0,0
15675,81,0.093979,0.0,0.0,0.0,0.0,0.026023,-0.003648,0.0,0
15676,80,0.093979,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0

In [53]:
from sklearn.model_selection import train_test_split
train_set, val_set= train_test_split (data, test_size = 0.5, random_state = 42)

In [54]:
train = train_set
valid = val_set

In [55]:
train.drop(columns=['Class'], inplace = True)

In [56]:
train

,id,bus,metro,park,high,uni,age,pop,mart
6405,17491,0.000000,0.000000,0.00000,0.0000,0.0,0.000000,-0.000912,0.000000
4762,19267,0.125306,0.109068,0.00000,0.0198,0.0,0.008674,-0.003648,0.067272
1164,23543,0.000000,0.000000,0.00000,0.0000,0.0,0.008674,-0.003648,0.000000
15534,1753,0.000000,0.000000,0.00000,0.0000,0.0,0.026023,-0.003648,0.000000
9140,14089,0.000000,0.000000,0.00000,0.0000,0.0,0.034697,-0.001824,0.000000
...,...,...,...,...,...,...,...,...,...
5191,18821,0.125306,0.000000,0.00000,0.0000,0.0,0.026023,-0.003648,0.000000
13418,8141,0.125306,0.027267,0.00000,0.0000,0.0,0.026023,-0.003648,0.000000
5390,18615,0.125306,0.054534,0.00595,0.0000,0.0,0.034697,-0.000912,0.033636
860,24398,0.062653,0.000000,0.00000,0.0000,0.0,0.008674,-0.002736,0.000000
7270,16518,0.125306,0.000000,0.00000,0.0000,0.0,0.026023,-0.001824,0.000000

In [57]:
valid

,id,bus,metro,park,high,uni,age,pop,mart,Class
6292,17604,0.000000,0.000000,0.000000,0.000000,0.000000,0.026023,-0.001824,0.000000,0
6107,17822,0.125306,0.000000,0.007934,0.000000,0.004943,0.000000,-0.000912,0.050454,0
9487,13592,0.093979,0.000000,0.000000,0.019800,0.000000,0.017348,0.000000,0.000000,0
9724,13262,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.002736,0.000000,0
7781,15905,0.125306,0.000000,0.000000,0.009900,0.004943,0.026023,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...,...
354,25806,0.093979,0.027267,0.000000,0.000000,0.000000,0.017348,-0.003648,0.000000,0
5360,18645,0.125306,0.054534,0.000000,0.039599,0.000000,0.008674,-0.003648,0.067272,0
1767,22554,0.125306,0.000000,0.000000,0.000000,0.000000,0.008674,-0.001824,0.000000,1
12969,8962,0.031326,0.000000,0.000000,0.000000,0.000000,0.017348,0.000000,0.000000,0
9830,13115,0.000000,0.000000,0.000000,0.000000,0.000000,0.017348,0.000000,0.000000,0

In [58]:
train['data_cd'] = 'train'
valid['data_cd'] = 'valid'

In [59]:
df = pd.concat([train.drop(columns=['id']), valid.drop(columns=['id'])])

df.set_index('data_cd', drop=True, inplace=True)
df['Class'] = df['Class'].astype("category")
cat_cols = [df.columns.get_loc(col) for col in df.select_dtypes(['category']).columns.tolist()]

In [60]:
imputer = MissForest(max_iter=10, n_estimators=6000, random_state=42)
df_imputed = imputer.fit_transform(df, cat_vars=cat_cols)
df_imputed = pd.DataFrame(df_imputed, columns=df.columns, index=df.index)

Iteration: 0
Iteration: 1
Iteration: 2

In [30]:
train2 = df_imputed[df_imputed.index=='train']
train2['id'] = train['id']
train2.reset_index(drop=True, inplace=True)

In [31]:
train2

,bus,metro,park,high,uni,age,pop,mart,Class,id
0,0.000000,0.000000,0.00000,0.0000,0.0,0.000000,-0.000912,0.000000,0.0,NaN
1,0.125306,0.109068,0.00000,0.0198,0.0,0.008674,-0.003648,0.067272,1.0,NaN
2,0.000000,0.000000,0.00000,0.0000,0.0,0.008674,-0.003648,0.000000,0.0,NaN
3,0.000000,0.000000,0.00000,0.0000,0.0,0.026023,-0.003648,0.000000,0.0,NaN
4,0.000000,0.000000,0.00000,0.0000,0.0,0.034697,-0.001824,0.000000,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
7833,0.125306,0.000000,0.00000,0.0000,0.0,0.026023,-0.003648,0.000000,0.0,NaN
7834,0.125306,0.027267,0.00000,0.0000,0.0,0.026023,-0.003648,0.000000,0.0,NaN
7835,0.125306,0.054534,0.00595,0.0000,0.0,0.034697,-0.000912,0.033636,0.0,NaN
7836,0.062653,0.000000,0.00000,0.0000,0.0,0.008674,-0.002736,0.000000,0.0,NaN
7837,0.125306,0.000000,0.00000,0.0000,0.0,0.026023,-0.001824,0.000000,0.0,NaN

In [32]:
X = train2[['bus', 'metro', 'park', 'uni', 'age', 'mart','pop']]
y= train2['Class']

In [33]:
valid2 = df_imputed[df_imputed.index=='valid']
valid2['id'] = valid['id']
valid2.reset_index(drop=True, inplace=True)

In [34]:
from imblearn.combine import SMOTETomek
X_resampled, y_resampled = SMOTETomek(random_state=42).fit_resample(X, y)

In [35]:
X_resampled['Class'] = y_resampled

In [36]:
X_train = X_resampled.drop(columns=['Class'])
X_train = X_train[['bus', 'metro', 'park', 'uni', 'age', 'mart','pop']]
y_train = X_resampled['Class']


X_valid = valid2.drop(columns=['id', 'Class'])
X_valid = X_valid[['bus', 'metro', 'park', 'uni', 'age', 'mart','pop']]
y_valid = valid2['Class']

In [37]:
sampler = TPESampler(seed=42)

def objective(trial):    
    params = {
        'n_neighbors':trial.suggest_int("n_neighbors", 1, 60),
        'weights': trial.suggest_categorical('weights', ["uniform", "distance"]),
        'metric': trial.suggest_categorical('metric', ['euclidean', 'manhattan', 'minkowski']),
        'algorithm': trial.suggest_categorical('algorithm', ['auto', 'ball_tree', 'kd_tree', 'brute']),
        'leaf_size':trial.suggest_int("leaf_size", 30, 60),
        'p': trial.suggest_categorical('p', [1, 2]),
        'n_jobs': -1,
        

    }
    
    model = KNeighborsClassifier(**params)
    model.fit(X_train, y_train)
    
    y_valid_pred = model.predict(X_valid)
    return f1_score(y_valid, y_valid_pred, average="macro")

In [38]:
study = optuna.create_study(direction='maximize', sampler=sampler)
study.optimize(objective, n_trials=50)

[I 2022-08-16 11:13:42,273] A new study created in memory with name: no-name-8a3e8948-f253-41ea-8f64-e24d3ac0e5f6
[I 2022-08-16 11:13:42,669] Trial 0 finished with value: 0.7237491436378964 and parameters: {'n_neighbors': 23, 'weights': 'uniform', 'metric': 'euclidean', 'algorithm': 'ball_tree', 'leaf_size': 30, 'p': 1}. Best is trial 0 with value: 0.7237491436378964.
[I 2022-08-16 11:13:42,954] Trial 1 finished with value: 0.7321754592100163 and parameters: {'n_neighbors': 13, 'weights': 'distance', 'metric': 'manhattan', 'algorithm': 'ball_tree', 'leaf_size': 41, 'p': 2}. Best is trial 1 with value: 0.7321754592100163.
[I 2022-08-16 11:13:43,125] Trial 2 finished with value: 0.7326324568249104 and parameters: {'n_neighbors': 12, 'weights': 'distance', 'metric': 'manhattan', 'algorithm': 'kd_tree', 'leaf_size': 39, 'p': 2}. Best is trial 2 with value: 0.7326324568249104.
[I 2022-08-16 11:13:43,358] Trial 3 finished with value: 0.7329877698027568 and parameters: {'n_neighbors': 27, 'weights': 'distance', 'metric': 'manhattan', 'algorithm': 'auto', 'leaf_size': 35, 'p': 1}. Best is trial 3 with value: 0.7329877698027568.
[I 2022-08-16 11:13:43,668] Trial 4 finished with value: 0.7221700720654234 and parameters: {'n_neighbors': 57, 'weights': 'uniform', 'metric': 'euclidean', 'algorithm': 'kd_tree', 'leaf_size': 55, 'p': 1}. Best is trial 3 with value: 0.7329877698027568.
[I 2022-08-16 11:13:43,904] Trial 5 finished with value: 0.7334242572120877 and parameters: {'n_neighbors': 33, 'weights': 'distance', 'metric': 'manhattan', 'algorithm': 'kd_tree', 'leaf_size': 52, 'p': 1}. Best is trial 5 with value: 0.7334242572120877.
[I 2022-08-16 11:13:44,120] Trial 6 finished with value: 0.7329706294305288 and parameters: {'n_neighbors': 22, 'weights': 'distance', 'metric': 'euclidean', 'algorithm': 'kd_tree', 'leaf_size': 57, 'p': 1}. Best is trial 5 with value: 0.7334242572120877.
[I 2022-08-16 11:13:44,474] Trial 7 finished with value: 0.7212680559540976 and parameters: {'n_neighbors': 43, 'weights': 'uniform', 'metric': 'euclidean', 'algorithm': 'auto', 'leaf_size': 49, 'p': 2}. Best is trial 5 with value: 0.7334242572120877.
[I 2022-08-16 11:13:44,659] Trial 8 finished with value: 0.7334511634131766 and parameters: {'n_neighbors': 55, 'weights': 'distance', 'metric': 'euclidean', 'algorithm': 'kd_tree', 'leaf_size': 49, 'p': 1}. Best is trial 8 with value: 0.7334511634131766.
[I 2022-08-16 11:13:45,056] Trial 9 finished with value: 0.7275081215653091 and parameters: {'n_neighbors': 12, 'weights': 'uniform', 'metric': 'manhattan', 'algorithm': 'brute', 'leaf_size': 56, 'p': 2}. Best is trial 8 with value: 0.7334511634131766.
[I 2022-08-16 11:13:45,416] Trial 10 finished with value: 0.7340495287212452 and parameters: {'n_neighbors': 59, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 47, 'p': 1}. Best is trial 10 with value: 0.7340495287212452.
[I 2022-08-16 11:13:45,790] Trial 11 finished with value: 0.7339298172791744 and parameters: {'n_neighbors': 60, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 46, 'p': 1}. Best is trial 10 with value: 0.7340495287212452.
[I 2022-08-16 11:13:46,098] Trial 12 finished with value: 0.7343188599108428 and parameters: {'n_neighbors': 47, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 46, 'p': 1}. Best is trial 12 with value: 0.7343188599108428.
[I 2022-08-16 11:13:46,422] Trial 13 finished with value: 0.7343725666835157 and parameters: {'n_neighbors': 46, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 43, 'p': 1}. Best is trial 13 with value: 0.7343725666835157.
[I 2022-08-16 11:13:46,753] Trial 14 finished with value: 0.7346122899527272 and parameters: {'n_neighbors': 45, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 42, 'p': 1}. Best is trial 14 with value: 0.7346122899527272.
[I 2022-08-16 11:13:47,054] Trial 15 finished with value: 0.7345997135288127 and parameters: {'n_neighbors': 39, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 41, 'p': 1}. Best is trial 14 with value: 0.7346122899527272.
[I 2022-08-16 11:13:47,352] Trial 16 finished with value: 0.7341606813360986 and parameters: {'n_neighbors': 37, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 36, 'p': 1}. Best is trial 14 with value: 0.7346122899527272.
[I 2022-08-16 11:13:47,691] Trial 17 finished with value: 0.7345997135288127 and parameters: {'n_neighbors': 39, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 37, 'p': 1}. Best is trial 14 with value: 0.7346122899527272.
[I 2022-08-16 11:13:47,963] Trial 18 finished with value: 0.7274710984000223 and parameters: {'n_neighbors': 1, 'weights': 'uniform', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 30, 'p': 2}. Best is trial 14 with value: 0.7346122899527272.
[I 2022-08-16 11:13:48,251] Trial 19 finished with value: 0.734462811322736 and parameters: {'n_neighbors': 52, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'auto', 'leaf_size': 42, 'p': 1}. Best is trial 14 with value: 0.7346122899527272.
[I 2022-08-16 11:13:48,484] Trial 20 finished with value: 0.733678715568618 and parameters: {'n_neighbors': 32, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'ball_tree', 'leaf_size': 36, 'p': 1}. Best is trial 14 with value: 0.7346122899527272.
[I 2022-08-16 11:13:48,834] Trial 21 finished with value: 0.7347858958750665 and parameters: {'n_neighbors': 40, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 39, 'p': 1}. Best is trial 21 with value: 0.7347858958750665.
[I 2022-08-16 11:13:49,161] Trial 22 finished with value: 0.7347321808701224 and parameters: {'n_neighbors': 41, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 33, 'p': 1}. Best is trial 21 with value: 0.7347858958750665.
[I 2022-08-16 11:13:49,503] Trial 23 finished with value: 0.7340792551772025 and parameters: {'n_neighbors': 50, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 33, 'p': 1}. Best is trial 21 with value: 0.7347858958750665.
[I 2022-08-16 11:13:49,816] Trial 24 finished with value: 0.7344924185643018 and parameters: {'n_neighbors': 42, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 39, 'p': 1}. Best is trial 21 with value: 0.7347858958750665.
[I 2022-08-16 11:13:50,170] Trial 25 finished with value: 0.7338270728681253 and parameters: {'n_neighbors': 36, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 32, 'p': 1}. Best is trial 21 with value: 0.7347858958750665.
[I 2022-08-16 11:13:50,747] Trial 26 finished with value: 0.7196157207317269 and parameters: {'n_neighbors': 28, 'weights': 'uniform', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 39, 'p': 1}. Best is trial 21 with value: 0.7347858958750665.
[I 2022-08-16 11:13:51,022] Trial 27 finished with value: 0.735335568457878 and parameters: {'n_neighbors': 45, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 33, 'p': 2}. Best is trial 27 with value: 0.735335568457878.
[I 2022-08-16 11:13:51,323] Trial 28 finished with value: 0.7336904520078731 and parameters: {'n_neighbors': 52, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'ball_tree', 'leaf_size': 33, 'p': 2}. Best is trial 27 with value: 0.735335568457878.
[I 2022-08-16 11:13:51,646] Trial 29 finished with value: 0.7254423585598424 and parameters: {'n_neighbors': 20, 'weights': 'uniform', 'metric': 'minkowski', 'algorithm': 'auto', 'leaf_size': 60, 'p': 2}. Best is trial 27 with value: 0.735335568457878.
[I 2022-08-16 11:13:51,978] Trial 30 finished with value: 0.7335588558581764 and parameters: {'n_neighbors': 49, 'weights': 'distance', 'metric': 'euclidean', 'algorithm': 'ball_tree', 'leaf_size': 30, 'p': 2}. Best is trial 27 with value: 0.735335568457878.

[I 2022-08-16 11:13:52,220] Trial 31 finished with value: 0.735335568457878 and parameters: {'n_neighbors': 45, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 44, 'p': 2}. Best is trial 27 with value: 0.735335568457878.
[I 2022-08-16 11:13:52,414] Trial 32 finished with value: 0.735444512164569 and parameters: {'n_neighbors': 41, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 34, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:52,578] Trial 33 finished with value: 0.734665984450404 and parameters: {'n_neighbors': 35, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 38, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:52,886] Trial 34 finished with value: 0.7344924185643018 and parameters: {'n_neighbors': 44, 'weights': 'distance', 'metric': 'manhattan', 'algorithm': 'brute', 'leaf_size': 35, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:53,046] Trial 35 finished with value: 0.7333626133093438 and parameters: {'n_neighbors': 28, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 44, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:53,352] Trial 36 finished with value: 0.7345997135288127 and parameters: {'n_neighbors': 39, 'weights': 'distance', 'metric': 'manhattan', 'algorithm': 'brute', 'leaf_size': 40, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:53,667] Trial 37 finished with value: 0.7335707981364807 and parameters: {'n_neighbors': 55, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'ball_tree', 'leaf_size': 35, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:54,015] Trial 38 finished with value: 0.7209888299015654 and parameters: {'n_neighbors': 48, 'weights': 'uniform', 'metric': 'euclidean', 'algorithm': 'kd_tree', 'leaf_size': 31, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:54,212] Trial 39 finished with value: 0.7335061415833912 and parameters: {'n_neighbors': 35, 'weights': 'distance', 'metric': 'manhattan', 'algorithm': 'auto', 'leaf_size': 34, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:54,440] Trial 40 finished with value: 0.7349203238021644 and parameters: {'n_neighbors': 31, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'kd_tree', 'leaf_size': 51, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:54,610] Trial 41 finished with value: 0.7324397262733348 and parameters: {'n_neighbors': 25, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'kd_tree', 'leaf_size': 52, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:54,851] Trial 42 finished with value: 0.733551992071106 and parameters: {'n_neighbors': 19, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'kd_tree', 'leaf_size': 49, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:55,038] Trial 43 finished with value: 0.7346135186213798 and parameters: {'n_neighbors': 30, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'kd_tree', 'leaf_size': 53, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:55,238] Trial 44 finished with value: 0.7348222954278885 and parameters: {'n_neighbors': 42, 'weights': 'distance', 'metric': 'euclidean', 'algorithm': 'kd_tree', 'leaf_size': 48, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:55,468] Trial 45 finished with value: 0.7348994883373607 and parameters: {'n_neighbors': 44, 'weights': 'distance', 'metric': 'euclidean', 'algorithm': 'kd_tree', 'leaf_size': 53, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:55,749] Trial 46 finished with value: 0.7200761541036154 and parameters: {'n_neighbors': 51, 'weights': 'uniform', 'metric': 'euclidean', 'algorithm': 'kd_tree', 'leaf_size': 51, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:55,969] Trial 47 finished with value: 0.7348994883373607 and parameters: {'n_neighbors': 44, 'weights': 'distance', 'metric': 'euclidean', 'algorithm': 'kd_tree', 'leaf_size': 58, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:56,237] Trial 48 finished with value: 0.7329728155801906 and parameters: {'n_neighbors': 56, 'weights': 'distance', 'metric': 'euclidean', 'algorithm': 'kd_tree', 'leaf_size': 59, 'p': 2}. Best is trial 32 with value: 0.735444512164569.
[I 2022-08-16 11:13:56,503] Trial 49 finished with value: 0.7342890093237451 and parameters: {'n_neighbors': 46, 'weights': 'distance', 'metric': 'euclidean', 'algorithm': 'kd_tree', 'leaf_size': 54, 'p': 2}. Best is trial 32 with value: 0.735444512164569.

In [39]:
best_model = study.best_trial
best_params = best_model.params

print("Best model:")
print("  F1-score: {}".format(round(best_model.value, 4)))
print("  params  : {}".format(best_params))

Best model:
  F1-score: 0.7354
  params  : {'n_neighbors': 41, 'weights': 'distance', 'metric': 'minkowski', 'algorithm': 'brute', 'leaf_size': 34, 'p': 2}

In [40]:
SEED = 42
patience = 50

In [41]:
X = X_resampled[['bus', 'metro', 'park', 'uni', 'age', 'mart' ,'pop']]
y= X_resampled['Class']

In [42]:
model = KNeighborsClassifier(**best_params)
model.fit(X, y)

KNeighborsClassifier(algorithm='brute', leaf_size=34, n_neighbors=41,
                     weights='distance')

In [43]:
test = pd.read_csv('C:/Users/user/Desktop/부산시_변수_총합_가중치(상관).csv')

In [44]:
test

          id  bus  metro  uni  high  mart  park       age
0      51787  0.0    0.0  0.0   0.0   0.0   0.0  0.000000
1      51783  0.0    0.0  0.0   0.0   0.0   0.0  0.005617
2      51782  0.0    0.0  0.0   0.0   0.0   0.0  0.005617
3      51781  0.0    0.0  0.0   0.0   0.0   0.0  0.005617
4      51563  0.0    0.0  0.0   0.0   0.0   0.0  0.005617
...      ...  ...    ...  ...   ...   ...   ...       ...
20603    356  0.0    0.0  0.0   0.0   0.0   0.0  0.022468
20604    134  0.0    0.0  0.0   0.0   0.0   0.0  0.022468
20605    133  0.0    0.0  0.0   0.0   0.0   0.0  0.022468
20606    132  0.0    0.0  0.0   0.0   0.0   0.0  0.022468
20607    131  0.0    0.0  0.0   0.0   0.0   0.0  0.022468

[20608 rows x 8 columns]

In [50]:
X_test = test.drop(columns=['id'])
X_test = X_test[['bus', 'metro', 'park', 'uni', 'age', 'mart','pop']]
y_test_pred = model.predict(X_test)

KeyError: "['pop'] not in index"

In [98]:
X_test

       bus  metro  park  uni       age  mart
0      0.0    0.0   0.0  0.0  0.000000   0.0
1      0.0    0.0   0.0  0.0  0.005617   0.0
2      0.0    0.0   0.0  0.0  0.005617   0.0
3      0.0    0.0   0.0  0.0  0.005617   0.0
4      0.0    0.0   0.0  0.0  0.005617   0.0
...    ...    ...   ...  ...       ...   ...
20603  0.0    0.0   0.0  0.0  0.022468   0.0
20604  0.0    0.0   0.0  0.0  0.022468   0.0
20605  0.0    0.0   0.0  0.0  0.022468   0.0
20606  0.0    0.0   0.0  0.0  0.022468   0.0
20607  0.0    0.0   0.0  0.0  0.022468   0.0

[20608 rows x 6 columns]

In [99]:
df5 = pd.DataFrame(y_test_pred)

In [100]:
df5

         0
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
...    ...
20603  0.0
20604  0.0
20605  0.0
20606  0.0
20607  0.0

[20608 rows x 1 columns]

In [90]:
df5[df5[0]==1]

         0
45     1.0
67     1.0
68     1.0
159    1.0
160    1.0
...    ...
20389  1.0
20390  1.0
20404  1.0
20405  1.0
20406  1.0

[1845 rows x 1 columns]

In [83]:
df5.to_csv('부산_전킥_레이블.csv')